.nav
{
	height: 5vh;
	background-color: black;
}

/*PAGE ONE*/
.main
{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(45vh,1fr));
	grid-template-rows: 1fr;
}

.box-1
{
	grid-column: 1/2;
	grid-row: 1/2;
	display: grid;
	grid-template-columns: 0.7fr 1fr;
	grid-template-rows: 1fr 0.2fr;
}
.box-1-1
{
	grid-column: 1/2;
	grid-row: 1;
}
.box-1-2
{
	grid-column: 2/2;
	grid-row: 1;
	justify-content: center;
}
.box-1-2 img
{
	width: 30vw;
	border: 1px solid #778BA5;
	border-radius: 500px;
	float: right;
	box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
      align-self: baseline;
      margin: 14vh auto auto auto;
}

.box-2
{
	grid-column: 2/2;
	display: grid;
	justify-content: center;
	align-content: center;
}
.name
{
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
}
.name h1
{
	text-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      margin-bottom: none;
}
.box-2-2
{
	margin: none;
	padding: none;
}
.box-2-2 h5
{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
	font-size: 20px;
}
.box-2-2 p
{
	font-family: 'Source Sans Pro', sans-serif;
}
/*END OF PAGE 1*/

/*PAGE 2*/
.skill-page
{
	height: 80vh;
	display: grid;
	grid-template-rows: 1fr;

}
.page-title	
{
	height: 7vh;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 3px;
	font-size: 45px;
	margin: auto auto 10vh 3vw;
}
.logo
{
	width: 15vw;

}
.logo-gallery{

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-template-rows: 1fr 1fr;
	grid-template-areas: 
	"st st st st st st st st"
	"skill1 skill2 skill3 skill4 skill5";
	background-color: white;
	justify-content: space-between;
	align-content: center;
}
/*END OF PAGE 2*/

/*PAGE 3*/
.page-capstone
{
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
	justify-content: space-between;
	align-content: center;
}
.page-card
{
	grid-column: 1fr;
	border: 1px solid #8D90A1;
	margin: 1vw;
	box-shadow: 10px 10px 5px #ccc;
      -moz-box-shadow: 10px 10px 5px #ccc;
      -webkit-box-shadow: 10px 10px 5px #ccc;
      -khtml-box-shadow: 10px 10px 5px #ccc;
      align-self: baseline;
      position: relative;
}
.caps-image
{
	justify-content: center;
	align-content: center;
}
.caps-img 
{
	width:25vw;
	height: 30vh;
	background-position: center;
	background-size: cover;
	align-self: center;
	margin: 30px auto auto 2.5vw;
	border: 1px solid #01786F;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(191, 79, 81,.9);
}
.page-card:hover .overlay {
  opacity: 1;
}
.visit 
{
  color: #FEFEFE;
  font-size: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
.caps-title
{
	text-align: center;
	letter-spacing: 1px;
	font-family: 'Source Sans Pro', sans-serif;
	
}
.caps-text
{
	text-align: justify;
	font-family: 'Source Sans Pro', sans-serif;
	padding: 20px;
	
}